 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>

            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p>Sockmetrics: the next big step in biometrics.</p>

                    <p>The sock will have the capability to monitor a patient's heart rate and body temperature. However, in addition to its activation gesture, which ensures the patient can call for help during an emergency, the heart rate and body temperature data collected via sensors is sent to the Cloud where it can be visualized through a live plot on Plotly.</p>
               </div>
            </div>


                   <div class="col-lg-4 col-lg-offset-2">

                    <p>
                    <h4>Applications:</h4>
                    <h6>Remote medical monitroing of </h6>
                    <li>Patients in hospitals by Doctors</li>
                    <li>Elders in homes by Parents/Family</li>
                    <li>Loved ones you are concerned about!</li>
                    </p>

                    </div>

                    <p>
                    <h4>Benefits:</h4>
                    <li>A non instrusive & non obstrusive wearable device</li>
                    <li>Less intimidating than a fitness tracking band as it does not constantly remind the patient of him/her being monitored</li>
                    </p>
 
            <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h4>Additionally:</h4>
                    <li>It can be used to monitor patients on days when they are released from their hospital beds</li>
                    <li>Easy to transfer medical records and patient's history when the patient is transferred from the hospital to home</li>
                    <li>Data can be analysed and visualised to draw conclusions about the patient's health </li>
                    </p>
            </div>
                    
                    
                   
            <section class="success" id="metrics">
                <div class="container">
                    <div class="row">
                         <div class="col-lg-12 text-center">
                                <h2>Metrics</h2>
                                 <hr class="star-light">
                         </div>
                     </div>
                <div>
                     <a href="https://plot.ly/~rashadajw/33/" target="_blank" title="Temperature vs Force" style="display: block; text-align: center;"><img src="https://plot.ly/~rashadajw/33.png" alt="Temperature vs Force" style="max-width: 100%;"  onerror="this.onerror=null;this.src='https://plot.ly/404.png';" /></a>
                     <script data-plotly="rashadajw:33" src="https://plot.ly/embed.js" async></script>
                            </div> 
                        </div>
                    </div>
                </div>
    </section>

                </div>
            </div>
        </div>
    </section>